body{
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

/* Style the selected stocks */
.selected-stock{
	display: inline-block;
	list-style-type: none;
	width: 100px;
	background-color: #AA55B0;
	margin: 5px;
}

/* Style the SVG element */
#graph-div{
	margin: 0 auto;
	height: 300px;
	width: 500px;
	border-style: solid;
	border-width: thin;
}
